@font-face {
    font-family:'wisdomscript';
    src: url('../fonts/wisdom/WisdomScriptAI.eot');
    src: url('../fonts/wisdom/WisdomScriptAI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/wisdom/WisdomScriptAI.woff2') format('woff2'),
    url('../fonts/wisdom/WisdomScriptAI.woff') format('woff'),
    url('../fonts/wisdom/WisdomScriptAI.ttf') format('truetype'),
    url('../fonts/wisdom/WisdomScriptAI.otf') format('opentype'),
    url('../fonts/wisdom/WisdomScriptAI.svg#WisdomScriptAI') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2022;
}

@font-face {
    font-family:'montserrat';
    src: url('../fonts/montserrat/montserratregular/MontserratRegular.eot');
    src: url('../fonts/montserrat/montserratregular/MontserratRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserratregular/MontserratRegular.woff2') format('woff2'),
         url('../fonts/montserrat/montserratregular/MontserratRegular.woff') format('woff'),
         url('../fonts/montserrat/montserratregular/MontserratRegular.ttf') format('truetype'),
         url('../fonts/montserrat/montserratregular/MontserratRegular.otf') format('opentype'),
         url('../fonts/montserrat/montserratregular/MontserratRegular.svg#Montserrat') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}

@font-face {
    font-family:'montserrat';
    src: url('../fonts/montserrat/montserratbold/MontserratBold.eot');
    src: url('../fonts/montserrat/montserratbold/MontserratBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserratbold/MontserratBold.woff2') format('woff2'),
         url('../fonts/montserrat/montserratbold/MontserratBold.woff') format('woff'),
         url('../fonts/montserrat/montserratbold/MontserratBold.ttf') format('truetype'),
         url('../fonts/montserrat/montserratbold/MontserratBold.otf') format('opentype'),
         url('../fonts/montserrat/montserratbold/MontserratBold.svg#Montserrat Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}

@font-face {
    font-family: "droidserif";
    src: url("../fonts/droidserif/DroidSerifItalic.eot");
    src: url("../fonts/droidserif/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/droidserif/DroidSerifItalic.woff") format("woff"),
    url("../fonts/droidserif/DroidSerifItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "robotoslab";
    src: url("../fonts/robotoslab/RobotoSlabRegular.eot");
    src: url("../fonts/robotoslab/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/robotoslab/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/robotoslab/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}